.cryptocurrency-table {
    position: relative;
}

.cryptocurrency-table tr.mat-footer-row, 
.cryptocurrency-table tr.mat-row {
    height: auto;
}

.cryptocurrency-table td.mat-cell:first-of-type, 
.cryptocurrency-table td.mat-footer-cell:first-of-type, 
.cryptocurrency-table th.mat-header-cell:first-of-type {
    padding-left: .75rem;
}

.cryptocurrency-table td.mat-cell, 
.cryptocurrency-table td.mat-footer-cell, 
.cryptocurrency-table th.mat-header-cell {
    padding: .75rem;
    border-bottom-width: initial;
    border-bottom-style: initial;
}

.cryptocurrency-table .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Column Widths */

.mat-column-number, 
.mat-column-state {
    max-width: 64px;
}