<div class="container mt-5">

    <h2 class="my-3">
        {{pageTitle}}
        <button (click)="doRefresh()" class="btn btn-secondary" [disabled]="(isLoadingResults$ | async)">
            <i class="fa fa-sync-alt mr-2"></i>Refresh
        </button>
    </h2>

    <div *ngIf="cryptocurrencies" class="cryptocurrency-table">
        <div class="loading-overlay fa-4x" *ngIf="(isLoadingResults$ | async)">
            <i class="fas fa-spinner fa-pulse"></i>
        </div>

        <div class="table-container">
            <table mat-table [dataSource]="cryptocurrencies" matSort matSortActive="cmc_rank" matSortDisableClear
                matSortDirection="asc" class="table table-striped table-sm">

                <ng-container matColumnDef="cmc_rank">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-number">#</th>
                    <td mat-cell *matCellDef="let row"> {{ row.cmc_rank }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>

                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                    <td mat-cell *matCellDef="let row">{{row.symbol}}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="text-right">Price ({{ currency }})</th>
                    <td mat-cell *matCellDef="let row" class="text-right">
                        {{ row.quote[currency].price | currency:currency }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="percent_change_24h">
                    <th mat-header-cell *matHeaderCellDef class="text-right">Change (24h)</th>
                    <td mat-cell *matCellDef="let row" class="text-right">
                        <span [ngClass]="row.quote[currency].percent_change_24h >= 0 ? 'text-success' : 'text-danger'">
                            {{ row.quote[currency].percent_change_24h | number:'0.2-2' }}%
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date_added">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
                        Date Added
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-right">
                        {{row.date_added | date}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" class="text-right">
                        <a [routerLink]="['/cryptocurrencies', row.id]" class="btn btn-circle btn-primary">
                            <i class="fa fa-info"></i>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    </div>
</div>