<div class="container text-center py-5">
  <div class="row">
    <div class="col-12">
      <div class="error-template">
        <h1 class="pt-5">Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details" class="pb-5">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
          <a [routerLink]="['/']" class="btn btn-primary btn-lg">
            <i class="fa fa-home mr-2"></i>Take Me Home 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>